* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    background-position: fixed;
    background-image: url(./Images/FundoLogin.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

Main {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.70);
    display: flex;
    justify-content:left;
    align-items: center;
    z-index: auto;
}

.LogoCentral {
    border-radius: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 7%;
}

.LogoCentral img {
    height: 35vh;
    transition: transform 0.5s ease;
}

.LogoCentral img:hover {
    transform: scale(1.1);
}


.Dados {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: */
    z-index: 1;
    top: 45%;
}


.Dados input{
    display: flex;
    flex-direction: column;
    width: 50vh;
    height: 5vh;
    border-radius: 1vh;
    border-style: groove;
    background-color:  rgba(0, 0, 0, 0.61);
    border-color: #7D7D7D;
    margin-bottom: 5vh;
}
.Dados input:placeholder-shown {
    padding-left: 3vh;
    color: #7D7D7D;
    font-size: large;
}
.Dados input[type=password] {
    font-size: large;
    color: #ffff;
    padding-left: 3vh;
}
.Dados input[type=text] {
    font-size: large;
    color: #ffff;
    padding-left: 3vh;
}
.Dados button{
    width: 50vh;
    height: 5vh;
    border-radius: 1vh;
    background-color: rgba(181, 34, 175, 1);
    border-color: transparent;
    font-size: larger;
    cursor:pointer;
    transition: background-color 0.3s ease-in-out;
}

.Dados a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a {
    transition: background-color 0.3s ease-in-out;
}

.Dados button:hover {
    background-color: rgb(224, 28, 218);
}

.Outros {
    position: fixed;
    left: 56vw;
    top: 73%;
}

.Outros a {
    color:rgba(252, 102, 255, 1);
    font-size: 2vh;

}
.Outros a:hover {
    color:rgb(254, 167, 255)
}

.Outros p {
    position: fixed;
    left: 53vw;
    color: #ffff;
    font-size: 2vh;

}