

body {
    min-height: 200vh;
    background:linear-gradient(105deg, #090C6F, #000243, #4A006C, #830066);
    background-position: fixed;
    height: 400vh;
    /* z-index: auto; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-y: hidden; */
    overflow-x: hidden;
}



.header {
    background-image: url(./Images/BemVindo.png);
    position: absolute;
    width: 100%;
    /* display: flex; */
    /* z-index: 1; */
    height: 15vh;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-y: hidden;
    display: grid;
    /* justify-content:left; */
    /* align-items: center; */
    }

.SejaBemVindo {
    position:relative;
    left: 15vw;
    top:10vh;
    width: 70vw;
    height: 3vh;
    /* height: ; */
    /* overflow:visible; */
    /* background-color: yellowgreen; */
    /* z-index: 4; */
}
.SejaBemVindo p  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 2.5vh;
    /* background-color: #4A006C; */
    /* text-indent: 1vh; */
}
.SejaBemVindo a{
    color: #FC66FF;
    padding-left: 1vw;
    /* height: vh; */
    height: 3vh;
}
    
.logo {
    width: 30vh;
    height: 10vh;
    position:absolute;
    top: 1vh;
    /* background-color: red; */
    /* border: transparent; */
    /* border-radius: none; */
    /* cursor: pointer; */
    background-image: url(./Images/IngamesPagprincipal.png);
    background-size: 100%;
    /* background-position: center; */
    background-repeat: no-repeat;
    /* align-self: center; */
    /* z-index: 3; */
}

.Setinha {
    position: absolute;
    right: 4vw;
    top: 4.5vh;
    cursor: pointer;
    margin-left: 0vw;
    text-align: center;
    font-size: 2.5vh;
    color: #ffff;
    animation-fill-mode: forwards;
}

.Setinha:active {
    transition: 0.3s ease-in-out;
    transform: rotate(270deg);
}

/* .Setinha {
    width: 2vh;
    height: 2vh;
    background-color: transparent;
    border: transparent;
    border-radius: none;
    cursor: pointer;
    background-image: url(./Images/Setinha.png);
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 1vh;
    margin-top: 0.5vh;
    position: absolute ;
    bottom: 8.5vh;
    left: 95%;
}
     */

/* 
.Icone {
    width: 7vh;
    height: 7vh;
    border-radius: 100%; */
    /* background-image: url(/Images/BananaGira.gif); */
    /* background-size: cover;
    background-position: center;
    background-color: white; */
    /* z-index: ; */
    /* position: absolute;
    bottom: 5vh;
    left: 90%; */
    /* top: 5vh; */
/* } */

.header .Icone {
    background-color: #ffff;
    left: 0;
    width: 7vh;
    height: 7vh;
    border-radius: 100%;
    /* position: absolute; */
    margin-left: 90vw;
    margin-bottom: 6vh;

}


.header input[type=text] {
    /* float: right; */
    /* padding-: 0.5vh; */
    border: none;
    width: 55vw;
    height: 3.5vh;
    /* z-index: ; */
    /* margin-left: 50vh; */
    background-color: #5E5E5E;
    border-radius: 1.2vh;
    font-size: larger;
    color: #A3A3A3;
    padding-left: 2.5vh;
    align-self:flex-start;
    position: absolute;
    top: 1vh;
    left: 50%;
    transform: translateX(-50%);
}

main {
    position:absolute;
    top: 25vh;
    left: 50%;
    /* padding-top: 2vh; */
    /* padding: 2px; */
    transform: translateX(-50%);
    overflow: hidden;
    /* background: #8f8f8f; */
    /* z-index: auto; */
}
.Recomendadosedestaques {
    /* background-color: #a3a3a33a; */
    overflow: hidden;
    width: 40vw;
    height: 7vh;
    top: 21vh;
    left: 15.5%;
    border: solid;
    border-top-color: #FA8700;
    border-left-color: #b102cca4;
    border-right-color: #b102cca4;
    border-bottom-color: #CC00FF;
    /* transform: translateX(-50%); */
    position: relative;
    /* background-image: url(./Images/RecomendadosEDestaques.png); */
    /* background-size:; */
    z-index: 3;
    /* padding-top: px; */
    /* padding-left: 1px; */

}
.Recomendadosedestaques img {
    rotate: -0.43deg;
    width: 40vw;
}

.Bolinhasfofas {
    position: relative;
    top: 10vh;
    left: 10.5%;
}
.Bolinhasfofas img {
    width: 13vw;
}
.CaixaCarrossel {
    height: 70vh;
    width: 130vh;
    position: relative;
    margin: auto;
    background-color: transparent;
    overflow: hidden;
    /* top: 20vh; */
    padding: 2px;
    background: linear-gradient(#FA8700, #b102cca4, #CC00FF);
    z-index: 2;
  }

.CaixaCarrossel img {
    height: 70vh;
    width: 130vh;
}
  
.Carrossel {
    display: none;
}
  
.BarrinhaShow{
    position: relative;
    background-color: #00000049;
    top: 70vh;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    width: 130vh;
    height: 5vh;
    border: solid;
    border-top-color: #FF7A00;
    border-left-color: #FF01C5;
    border-right-color: #8D00FC;
    border-bottom-color: #FF7A00;
    border-width: 0.5px;
}


.Anterior, .Posterior {
    cursor: pointer;
    position: absolute;
    /* top: 95%; */
    width: 2vw;
    /* margin-top: ; */
    /* padding: 16px; */
    color: #FF4C00;
    font-weight: bold;
    font-size: 3vh;
    transition: 0.6s ease;
    /* border-radius: 0 3px 3px 0; */
    text-align: center;
    top: 0.5vh;

}
  
.Posterior {
    right: 20%;
    border-radius: 3px;
    padding-right: 5px;
    padding-left: 7px;  
}
.Anterior {
    left: 20%;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 7px;
}

.Anterior:hover, .Posterior:hover {
    background-color: #FF006B;
}
  

.bolinha {
    cursor: pointer;
    top: 1.5vh;
    height: 2vh;
    width: 1vw;
    /* background:linear-gradient(45deg,#FF4C00, #FF006B); */
    background-color: #ff7300;
    /* border-radius: 50%; */
    display: inline-block;
    position: relative;
    left: 65vh;
    /* right: 65vh; */
    transition: background-color 0.6s ease;
    transition: transform 0.3s ease;
    margin-left: 5px;
}
  
.active, .bolinha:hover {
    background-color: #FF4C00;
    transform: scale(1.3);
    border: solid;
    border-color: #FF006B;
    border-width: 1px;
}
  
.fade {
    animation-name: fade;
    animation-duration: 1s;
}
  
  @keyframes fade {
    from {
        opacity: 0.2
    }
    to {
        opacity: 1
    }
  }